{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set serviceFaqs = collections.faqs | filterFaqsByCategory("investor") %}

{% block content %}

<div class="layout" data-layout="mad-ronn">

<div>
{% if showSubnav %}
{% include "partials/subnav.html" %}
{% endif %}

<h1>{{ title }}</h1>
{{ section1 | markdown | safe }}
</div><!-- one -->

</div><!-- layout -->



<div class="layout" data-bordered="top" data-layout="mongrol">

<div>
{{ block1 | markdown | safe }}
</div><!-- one -->

<div>
{{ block2 | markdown | safe }}
</div><!-- two -->

<div>
{{ block3 | markdown | safe }}
</div><!-- three -->

</div><!-- layout -->



<figure>
{% include "svgs/panel-3.svg" %}
</figure>

<hr data-function="spacer">

<div class="layout" data-layout="mad-ronn">

<div>
{{ section2 | markdown | safe }}
</div><!-- one -->

</div><!-- layout -->



<div class="layout" data-bordered="top" data-layout="ro-jaws">

<div>
{{ block4 | markdown | safe }}
</div><!-- one -->

<div>
{{ block5 | markdown | safe }}
</div><!-- two -->

<div>
{{ block6 | markdown | safe }}
</div><!-- three -->

<div>
{{ block7 | markdown | safe }}
</div><!-- three -->

</div><!-- layout -->



<hr data-function="spacer">

<div class="layout" data-layout="mad-ronn">

<div>
{{ section3 | markdown | safe }}
</div><!-- one -->

</div><!-- layout -->



<div class="layout" data-bordered="top" data-layout="mongrol">

<div>
{{ block8 | markdown | safe }}
</div><!-- one -->

<div>
{{ block9 | markdown | safe }}
</div><!-- two -->

<div>
{{ block10 | markdown | safe }}
</div><!-- three -->

</div><!-- layout -->



<div class="layout" data-layout="joe-pineapples">

<div>
{{ section4 | markdown | safe }}
</div><!-- one -->

</div><!-- layout -->



<div class="layout" data-layout="joe-pineapples">

<div>
{{ block11 | markdown | safe }}

{{ block12 | markdown | safe }}
</div><!-- one -->

</div><!-- layout -->



<hr data-function="spacer">

<div class="layout" data-bordered="top" data-layout="ro-jaws">

<div>
{{ block13 | markdown | safe }}
</div><!-- one -->

<div>
{{ block14 | markdown | safe }}
</div><!-- two -->

<div>
{{ block15 | markdown | safe }}
</div><!-- three -->

<div>
{{ block16 | markdown | safe }}
</div><!-- four -->

</div><!-- layout -->



<!-- <hr data-function="spacer">

<div class="layout" data-layout="joe-pineapples">

{% if serviceFaqs.length %}
<div>
<h2>Frequently asked questions</h2>

{% for faqItem in serviceFaqs %}
<details>
<summary>{{ faqItem.data.question }}</summary>
<p>{{ faqItem.data.answer }}</p>
</details>
{% endfor %}
</div>
{% endif %}

</div> -->

{% endblock %}
