{% for item in postListItems %}
<article class="item-post">

<header>
<small class="item-meta">{{ item.data.postAuthor }} <span class="alt-separator" aria-hidden="true">&#x25FC;</span> {{ (item.data.date or item.date) | dateFilter }}</small>
</header>

<h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>

<p data-size="s">{{ item.data.postSummary }}</p>

<!-- {% if item.data.postTags %}
<small><b>Tags</b>: &nbsp; {% for tag in item.data.postTags %}
{{ tag }}{% if not loop.last %} <span class="alt-separator" aria-hidden="true">&#x25FC;</span> {% endif %}
{% endfor %}
</small>
{% endif %} -->
</article>
{% endfor %}
