<ul class="alt-nav">

<li>
{% if page.url == "/investors/" %}
<span aria-current="page" data-state="active">Investors</span>
{% else %}
<a href="/faqs/">Investors</a>
{% endif %}
<span class="alt-separator" aria-hidden="true">&#x25FC;</span>
</li>

<li>
{% if page.url == "/governance/" %}
<span aria-current="page" data-state="active">Governance</span>
{% else %}
<a href="/governance/">Governance</a>
{% endif %}
<span class="alt-separator" aria-hidden="true">&#x25FC;</span>
</li>

<li>
{% if page.url == "/partners/" %}
<span aria-current="page" data-state="active">Partners</span>
{% else %}
<a href="/partners/">Partners</a>
{% endif %}
<span class="alt-separator" aria-hidden="true">&#x25FC;</span>
</li>

<li>
{% if page.url == "/faqs/" %}
<span aria-current="page" data-state="active">FAQs</span>
{% else %}
<a href="/faqs/">FAQs</a>
{% endif %}
</li>

</ul>
